<section class="w-full bg-[#FEF9DE] h-[400px]">
  <div class="w-full max-w-[1120px] my-0 mx-auto h-full px-6 xl:px-0">
    <div class="w-full flex justify-between h-full">
      <div class="flex flex-col items-start justify-center gap-1">
        <h1 class="text-4xl text-[#002A8D] max-w-[500px]">Realiza tus pagos desde BCP y gestiona tus cuentas o
          movimientos</h1>
        <span class="text-[16px] text-[#585858] mb-3">Ademas accede a otros servicios en nuestra banca.</span>
        <button
          class="flex items-center gap-1 border border-[#FF7800] bg-[#FF7800] hover:bg-[#ffa733] hover:border-[#ffa733] hover:cursor-pointer py-3 px-5 rounded-4xl transition ease-linear hover:shadow-md">
          <span class="text-sm text-white">Registrarme</span>
        </button>
      </div>
      <div class="h-full">
        <img class="h-full min-w-[470px]" src="assets/images/banner-card-desktop.png" />
      </div>
    </div>
  </div>
</section>
