<main class="w-full">
  <client-header></client-header>
  <bank-banner></bank-banner>
  <section class="w-full bg-[#fbfdff] py-12 px-6 xl:px-0">
    <div class="w-full max-w-[1120px] flex my-0 mx-auto">
      <div class="flex flex-col flex-1">
        <h2 class="text-3xl text-[#002A8D]">¿Qué necesitas hacer hoy?</h2>
        <div class="grid grid-cols-4 gap-y-5 gap-x-10 mt-8 max-w-[450px]">
          <div class="flex flex-col justify-center items-center">
            <div class="group relative w-20 h-20 flex items-center justify-center bg-white shadow-md rounded-lg hover:cursor-pointer hover:shadow-lg hover:shadow-[#CAD4DE] transition ease-in-out overflow-hidden">
              <img class="w-full h-full" src="assets/icons/cuentas-3.svg"/>
              <div class="absolute inset-0 bg-white/30 backdrop-blur-[1px] opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out flex items-center justify-center"></div>
            </div>
            <span class="text-xs text-center text-[#53565a] mt-3">Abre una cuenta</span>
          </div>
          <div class="flex flex-col justify-center items-center">
            <div class="group relative w-20 h-20 flex items-center justify-center bg-white shadow-md rounded-lg hover:cursor-pointer hover:shadow-lg hover:shadow-[#CAD4DE] transition ease-in-out overflow-hidden">
              <img class="w-full h-full" src="assets/icons/tarjetas-3.svg" />
              <div class="absolute inset-0 bg-white/30 backdrop-blur-[1px] opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out flex items-center justify-center"></div>
            </div>
            <span class="text-xs text-center text-[#53565a] mt-3">Obtener una tarjeta</span>
          </div>
          <div class="flex flex-col justify-center items-center">
            <div class="group relative w-20 h-20 flex items-center justify-center bg-white shadow-md rounded-lg hover:cursor-pointer hover:shadow-lg hover:shadow-[#CAD4DE] transition ease-in-out overflow-hidden">
              <img class="w-full h-full" src="assets/icons/prestamos-3.svg" />
              <div class="absolute inset-0 bg-white/30 backdrop-blur-[1px] opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out flex items-center justify-center"></div>
            </div>
            <span class="text-xs text-center text-[#53565a] mt-3">Solicitar un préstamo</span>
          </div>
          <div class="flex flex-col justify-center items-center">
            <div class="group relative w-20 h-20 flex items-center justify-center bg-white shadow-md rounded-lg hover:cursor-pointer hover:shadow-lg hover:shadow-[#CAD4DE] transition ease-in-out overflow-hidden">
              <img class="w-full h-full" src="assets/icons/adelantosueldo-3.svg" />
              <div class="absolute inset-0 bg-white/30 backdrop-blur-[1px] opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out flex items-center justify-center"></div>
            </div>
            <span class="text-xs text-center text-[#53565a] mt-3">Realizar un deposito</span>
          </div>
          <div class="flex flex-col justify-center items-center">
            <div class="group relative w-20 h-20 flex items-center justify-center bg-white shadow-md rounded-lg hover:cursor-pointer hover:shadow-lg hover:shadow-[#CAD4DE] transition ease-in-out overflow-hidden">
              <img class="w-full h-full" src="assets/icons/soat-3.svg" />
              <div class="absolute inset-0 bg-white/30 backdrop-blur-[1px] opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out flex items-center justify-center"></div>
            </div>
            <span class="text-xs text-center text-[#53565a] mt-3">SOAT Virtual desde S/47</span>
          </div>
          <div class="flex flex-col justify-center items-center">
            <div class="group relative w-20 h-20 flex items-center justify-center bg-white shadow-md rounded-lg hover:cursor-pointer hover:shadow-lg hover:shadow-[#CAD4DE] transition ease-in-out overflow-hidden">
              <img class="w-full h-full" src="assets/icons/spt-3.svg" />
              <div class="absolute inset-0 bg-white/30 backdrop-blur-[1px] opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out flex items-center justify-center"></div>
            </div>
            <span class="text-xs text-center text-[#53565a] mt-3">Proteger mis tarjetas</span>
          </div>
          <div class="flex flex-col justify-center items-center">
            <div class="group relative w-20 h-20 flex items-center justify-center bg-white shadow-md rounded-lg hover:cursor-pointer hover:shadow-lg hover:shadow-[#CAD4DE] transition ease-in-out overflow-hidden">
              <img class="w-full h-full" src="assets/icons/beneficios-3.svg"/>
              <div class="absolute inset-0 bg-white/30 backdrop-blur-[1px] opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out flex items-center justify-center"></div>
            </div>
            <span class="text-xs text-center text-[#53565a] mt-3">Ver mis beneficios</span>
          </div>
          <div class="flex flex-col justify-center items-center">
            <div class="group relative w-20 h-20 flex items-center justify-center bg-white shadow-md rounded-lg hover:cursor-pointer hover:shadow-lg hover:shadow-[#CAD4DE] transition ease-in-out overflow-hidden">
              <img class="w-full h-full" src="assets/icons/ayuda-3.svg" />
              <div class="absolute inset-0 bg-white/30 backdrop-blur-[1px] opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out flex items-center justify-center"></div>
            </div>
            <span class="text-xs text-center text-[#53565a] mt-3">Ir a Ayuda Rápida</span>
          </div>
        </div>
      </div>
      <div class="flex-1">
        <form-email></form-email>
      </div>
    </div>
  </section>
</main>
